header .wave{
    height: 100px;
    background-size: 1000px 100px;
}


header{
    display: block;
    flex-direction: unset;
    align-items: unset;
    justify-content: unset;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: var(--primary-color);
}
header section{
    justify-content: space-around;
}

header #odslogo{
    margin: auto;
    width: 50%;
    max-width: 300px;
    min-width: 240px;
    padding: 20px;
}

#titles{
    max-width: 500px;
    box-sizing: border-box;
    padding: 0px 10px;
}
.odsnumber{
    font-size: 18px;
    text-align: left;
    display: block;
    margin-top: 10px;
}
.odstitle{
    font-size: 40px;
    text-align: left;
    color: var(--secondary-color);
}
.odsdescription{
    font-size: 24px;
    text-align: left;
    color: var(--secondary-color);
}

.row{
    display: flex;
    flex-direction: row;
}


/* CONTAINER */
.container{
    margin: auto;
    max-width: 1350px;
    padding: 10px 0px;
}

/* INTRODUÇÃO */
.introducao p{
    text-align: justify;
}

/* METAS */
#imagens-metas{
    margin: unset;
    padding: 0px;
}
#metas-content{
    padding-left: 20px;
}
#metas-content{
    width: 60%;
}
#metas{
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}


/* IMAGEM METAS */
.mobile-hide{
    display: block;
}

#imagens-metas{
    width: 30%;
}


/* VIDEO-ODS */
.video-ods{
    flex-direction: row-reverse;
    margin: auto;
}

/* VÍDEO */
.video-container{
    width: 50%;
    margin: unset;
    padding: 0px 20px;
}


/* ODS */
.ods{
    width: 50%;
    padding: 20px;
}