header .wave{
    height: 100px;
    background-size: 1000px 100px;
}


header{
    display: block;
    flex-direction: unset;
    align-items: unset;
    justify-content: unset;
    padding-bottom: 300px;
    background-color: var(--primary-color);
}
header section{
    justify-content: space-around;
    margin-top: 12vh;
}

header #odslogo{
    margin: auto;
    width: 50%;
    max-width: 300px;
    min-width: 240px;
    padding: 20px;
}

#titles{
    max-width: 500px;
    box-sizing: border-box;
    padding: 0px 10px;
}
.odsnumber{
    font-size: 18px;
    text-align: left;
    display: block;
    margin-top: 10px;
}
.odstitle{
    font-size: 40px;
    text-align: left;
    color: var(--secondary-color);
}
.odsdescription{
    font-size: 24px;
    text-align: left;
    color: var(--secondary-color);
}

.row{
    display: flex;
    flex-direction: row;
}