:root{
    scroll-behavior: smooth;
    --primary-color: #1F97D4;
    --secondary-color: white;
}


h1 {
    color: var(--primary-color);
}

/* BANNER */

header{
    position: relative;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 120px;
    padding-top: 50px;
    background-color: var(--primary-color);
}
header section{
    margin: auto;
    max-width: 900px;
    padding: 40px;
    box-sizing: border-box;
}
header #odslogo{
    margin: auto;
    width: 40%;
    max-width: 300px;
    min-width: 240px;
}
header #odslogo img{
    width: 100%;
    border: 1px solid var(--secondary-color);
}
header > h1{
    font-size: clamp(30px,2.4vw,2.4vw);
    color: var(--secondary-color);
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: calc(5vh - 30px);
    padding: 0px 20px;
}
header section h1{
    font-size: clamp(20px,1.4vw,1.4vw);
    color: var(--secondary-color);
    text-align: left;
}
#titles{
    margin: auto;
    max-width: 340px;
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}
.odstitle{
    font-size: 40px;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 20px;
}
.odsnumber{
    color: var(--secondary-color);
    text-align: center;
    margin-top: 16px;
    display: none;
}
.odsdescription{
    font-size: 22px;
    text-align: center;
    color: var(--secondary-color);
}



/* CONTEÚDO */

main{
    background-color: var(--secondary-color);
}
.container{
    margin: auto;
    max-width: 950px;
    padding: 10px 0px;
}
section{
    padding: 60px 10px;
}


/* INTRODUÇÃO */

.introducao{
    justify-content: center;
    align-items: center;
}
.introducao div:first-child{
    /* flex-grow ; flex-shrink */
    flex: 70%;
    padding: 15px;
}
.image-container{
    flex: 30%;
    padding: 15px;
    margin: auto;
    max-width: 340px;
}
.image-container img{
    width: 100%;
}


/* IMAGEM POLUIÇÃO */

#imagem-poluida{
    margin: auto;
    padding: 20px;
}
#imagem-poluida img{
    border-radius: 8px;
    width: 100%;
}
#imagem-poluida h4{
    margin: 6px;
}
#imagem-poluida a{
    text-decoration: none;
    color: var(--primary-color);
}
#imagem-poluida a:hover{
    color: blue;
    text-decoration: underline;
}

/* VÍDEO */

#videotitle{
    text-align: center;
    color: var(--primary-color);
    font-size: 40px;
}
.video{
    padding: 26px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video iframe{
    width: 100%;
    aspect-ratio: 16/9;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    transition: all 0.4s;
}
.video iframe:hover{
    border: 2px solid rgb(4, 0, 255);
}



/* METAS */

#metas h1{
    margin-bottom: 30px;
    text-align: center;
}
#metas p{
    margin: 0;
    padding: 20px 15px;
    border: 1px solid gray;
    border-bottom: 0;
}
#metas p:first-of-type{
    border-radius: 8px 8px 0px 0px;
}
#metas p:last-of-type{
    border-bottom: 1px solid gray;
    border-radius: 0px 0px 8px 8px;
}
.meta-num {
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-color);
}


/* FOOTER */
footer{
    text-align: center;
    padding: 50px 15px;
}
footer h3, footer h4{
    margin: 0;
    padding: 4px;
}