:root{
    scroll-behavior: smooth;
    --primary-color: #1F97D4;
    --secondary-color: white;
}


h1 {
    color: var(--primary-color);
}

/* BANNER */

header{
    position: relative;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 120px;
    padding-top: 50px;
    background-color: var(--primary-color);
}
header section{
    margin: auto;
    max-width: 900px;
    padding: 60px;
    box-sizing: border-box;
}
header #odslogo{
    margin: auto;
    width: 40%;
    max-width: 300px;
    min-width: 240px;
}
header #odslogo img{
    width: 100%;
    border: 1px solid var(--secondary-color);
}
header > h1{
    font-size: clamp(30px,2.4vw,2.4vw);
    color: var(--secondary-color);
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: calc(5vh - 30px);
    padding: 0px 20px;
}
header section h1{
    font-size: clamp(20px,1.4vw,1.4vw);
    color: var(--secondary-color);
    text-align: left;
}
#titles{
    margin: auto;
    max-width: 340px;
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}
.odstitle{
    font-size: 40px;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 20px;
}
.odsnumber{
    color: var(--secondary-color);
    text-align: center;
    margin-top: 16px;
    display: none;
}
.odsdescription{
    font-size: 22px;
    text-align: center;
    color: var(--secondary-color);
}



/* CONTEÚDO */

.container{
    margin: auto;
    max-width: 1400px;
    padding: 10px 0px;
}
section{
    padding: 60px 10px;
}


/* INTRODUÇÃO */

.introducao{
    justify-content: center;
    align-items: center;
}
.introducao div:first-child{
    /* flex-grow ; flex-shrink */
    flex: 70%;
    padding: 15px;
}
.image-container{
    flex: 30%;
    padding: 15px;
    margin: auto;
    max-width: 340px;
}
.image-container img{
    width: 100%;
}




/* BACKGROUND-FIXED */
.backgroundfixed{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-size: 40px;

    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.backgroundfixed h1{
    z-index: 1000;
    color: white;
}
#tartaruga-img{
    background-image: url(../images/tartaruga.jpg);
}
#background-oceano{
    background-image: url(../images/oceano.jpg);
}





/* VÍDEO */

#videotitle{
    text-align: center;
    color: var(--primary-color);
    font-size: 40px;
}
.video{
    padding: 26px 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: auto;
}
.video iframe{
    width: 100%;
    aspect-ratio: 16/9;
    border: 1px solid gray;
    border-radius: 12px;
    transition: all 0.4s;
}
.video iframe:hover{
    transform: scale(1.03);
}



/* METAS */
#metas h1{
    margin-bottom: 30px;
    text-align: center;
}
#metas p{
    margin: 0;
    padding: 20px 15px;
    border: 1px solid gray;
    border-bottom: 0;
}
#metas > div > p:first-of-type{
    border-radius: 8px 8px 0px 0px;
}
#metas > div > p:last-of-type{
    border-bottom: 1px solid gray !important;
}
.grow p:first-child{
    border-top: 0 !important;
}
.grow p:last-of-type{
    border-bottom: 1px solid gray !important;
    border-radius: 0px 0px 8px 8px;
}
.meta-num {
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-color);
}
.grow-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 50px;
}

.growbutton{
    color: var(--primary-color);
    transition: all 0.5s;
}
.growbutton:hover{
    cursor: pointer;
    color: blue;
}
.growbutton:active{
    transform: scale(1.4); 
    cursor:cell;
}
.rotated {
    transform: rotate(180deg);
}




/* IMAGEM METAS */

.mobile-hide{
    display: none;
}
#imagens-metas{
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
#imagens-metas > div, .grow-imagens-metas > div{
    margin: 15px 0px;
}
.mobile-hide > div{
    margin: 15px 0px !important;
}
#imagens-metas img{
    border-radius: 8px;
    width: 100%;
}
#imagens-metas h4{
    margin: 6px;
}
#imagens-metas a{
    text-decoration: none;
    color: var(--primary-color);
}
#imagens-metas a:hover{
    color: blue;
    text-decoration: underline;
}





/* ODS */
.ods{
    max-width: 900px;
    padding: 20px;
    margin: auto;
}
.ods img{
    width: 100%;
    transition: all 0.4s;
}
.ods img:hover{
    transform: scale(1.03);
    cursor: pointer;
}


/* FOOTER */
footer{
    text-align: center;
    padding: 50px 15px;
    background-color: var(--secondary-color);
}
footer h3, footer h4{
    margin: 0;
    padding: 4px;
}